# a. Prompt the user for a day of the week, print out whether the day is Monday or not

In [25]:
today = 'Tuesday'

In [ ]:
today = input('What is today?')
if today == 'Monday':
    print('yes, today is Monday')
else:
    print('today is not Monday')

# b. Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [31]:
today == ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

False

In [ ]:
today = input('What is today?')
if today in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']:
    print(' weekday')
else:
    print(' weekend')

In [33]:
today == ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

False

In [35]:
today

'Monday'

# c. Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

    # The number of hours worked in one week

In [77]:
number_of_hours = 40
hourly_rate = 7.50

In [50]:
number_of_hours

40

In [80]:
number_of_hours = input('How many hours did you work this week?')
number_of_hours = int(number_of_hours)
if number_of_hours <= 40:
    reg_pay = number_of_hours * hourly_rate
    print(reg_pay)
else:
    print((hourly_rate * 1.5) * (number_of_hours - 40) + reg_pay)

How many hours did you work this week?41

NameError: name 'reg_pay' is not defined

In [52]:
number_of_hours

'39'

In [ ]:
# Create an integer variable i with a value of 5. 
# Create a while loop that runs so long as i is less than or equal to 15. 
# Each loop iteration, output the current value of i, then increment i by one

In [72]:
i = 5

while i < 15:
    print(i)
    i = i + 1

5
6
7
8
9
10
11
12
13
14

In [81]:
# Create a while loop that will count by 2's starting with 0 and ending at 100. 
# Follow each number with a new line.

In [84]:
x = 0

while x <= 100:
    print(x)
    x = x + 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [86]:
y = 2

while y <= 1000000:
    print(y)
    y = y * y

2
4
16
256
65536

In [91]:
z = 100

while z >= 0:
    print(z)
    z = z - 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0

In [121]:
numb = int(input('enter a number: ')) #input function will always return a string, cast as int
print(type(numb))

for i in range(1,11):
    print(f'{i} x {numb} = {i*numb}')

enter a number: 5
<class 'int'>
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [122]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [95]:
positive_integer = input('Enter a positive integer?')
positive_integer = int(positive_integer)
t = positive_integer

while t >= 1:
    print(t)
    t = t - 1

Enter a positive integer?102
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [96]:
# The input function can be used to prompt for input and use that input in your python code. 
# Prompt the user to enter a positive number and write a loop that counts from 0 to that 
# number. (Hints: note that the input function returns a string, 
# so you'll need to convert this to a numeric type

In [97]:
positive_integer = input('Enter a positive integer?')
positive_integer = int(positive_integer)
v = 0

while v <= positive_integer:
    print(v)
    v = v + 1

Enter a positive integer?52
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52

In [117]:
odd_number = input('Enter an odd number between 1 and 50 ')
odd_number = int(odd_number)



for e in range(50):
    if e == odd_number:
        print (f'Yikes! Skipping number: {e}')
    if e % 2 == 0:
        continue
    if e % 2 == 1:
        print(f'Here is an odd number: {e}')

Enter an odd number between 1 and 50 27
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Yikes! Skipping number: 27
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

In [118]:
odd_number = input('Enter an odd number between 1 and 50 ')
odd_number = int(odd_number)



for e in range(50):
    if e == odd_number:
        print (f'Yikes! Skipping number: {e}')
    if e % 2 == 0:
        continue
    if e % 2 == 1:
        print(f'Here is an odd number: {e}')

Enter an odd number between 1 and 50 25
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Yikes! Skipping number: 25
Here is an odd number: 25
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

In [119]:
odd_number = input('Enter an odd number between 1 and 50 ')
odd_number = int(odd_number)



for e in range(50):
    if e == odd_number:
        print (f'Yikes! Skipping number: {e}')
    if e % 2 == 0:
        continue
    if e % 2 == 1:
        print(f'Here is an odd number: {e}')

Enter an odd number between 1 and 50 44
Here is an odd number: 1
Here is an odd number: 3
Here is an odd number: 5
Here is an odd number: 7
Here is an odd number: 9
Here is an odd number: 11
Here is an odd number: 13
Here is an odd number: 15
Here is an odd number: 17
Here is an odd number: 19
Here is an odd number: 21
Here is an odd number: 23
Here is an odd number: 25
Here is an odd number: 27
Here is an odd number: 29
Here is an odd number: 31
Here is an odd number: 33
Here is an odd number: 35
Here is an odd number: 37
Here is an odd number: 39
Here is an odd number: 41
Here is an odd number: 43
Yikes! Skipping number: 44
Here is an odd number: 45
Here is an odd number: 47
Here is an odd number: 49

One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

Write a program that prints the numbers from 1 to 100.
For multiples of three print "Fizz" instead of the number
For the multiples of five print "Buzz".
For numbers which are multiples of both three and five print "FizzBuzz".

In [123]:
for num in range(1, 101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [128]:
while True:
    num = int(input("Enter a positive integer: "))
    print("Number\tSquare\tCube")
    for i in range(1, num+1):
        print(i, "\t", i**2, "\t", i**3)
    choice = input("Do you want to continue? (y/n): ")
    if choice.lower() == 'n':
        break

Enter a positive integer: 5
Number	Square	Cube
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125
Do you want to continue? (y/n): n

### Convert given number grades into letter grades.

Prompt the user for a numerical grade from 0 to 100
Display the corresponding letter grade
Prompt the user to continue
Assume that the user will enter valid integers for the grades
The application should only continue if the user agrees to
Grade Ranges:

A : 100 - 88
B : 87 - 80
C : 79 - 67
D : 66 - 60
F : 59 - 0

In [129]:
while True:
    grade = int(input("Enter a numerical grade from 0 to 100: "))
    if grade >= 88:
        letter_grade = "A"
    elif grade >= 80:
        letter_grade = "B"
    elif grade >= 67:
        letter_grade = "C"
    elif grade >= 60:
        letter_grade = "D"
    else:
        letter_grade = "F"
    
    print(f"The corresponding letter grade is: {letter_grade}")
    
    repeat = input("Do you want to continue? (yes/no): ")
    if repeat.lower() == "no":
        break

Enter a numerical grade from 0 to 100: 88
The corresponding letter grade is: A
Do you want to continue? (yes/no): 77
Enter a numerical grade from 0 to 100: 77
The corresponding letter grade is: C
Do you want to continue? (yes/no): no

Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.

Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [131]:
# Here's an example list of dictionaries representing books:
books_list = [
    {'title': '1984', 'author': 'George Orwell', 'genre': 'Science Fiction/Dystopia'},
    {'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'genre': 'Fiction'},
    {'title': 'The Catcher in the Rye', 'author': 'J.D. Salinger', 'genre': 'Fiction'},
    {'title': 'The Lord of the Rings', 'author': 'J.R.R. Tolkien', 'genre': 'Fantasy'}
]
# Loop through the list and print out information about each book
for book in books_list:
    print(f"Title: {book['title']}")
    print(f"Author: {book['author']}")
    print(f"Genre: {book['genre']}\n")
    
# Prompt the user to enter a genre and print out the titles of all the books in that genre
user_genre = input("Please enter a genre to see related books: ")
for book in books_list:
    if book['genre'] == user_genre:
        print(book['title'])

Title: 1984
Author: George Orwell
Genre: Science Fiction/Dystopia

Title: To Kill a Mockingbird
Author: Harper Lee
Genre: Fiction

Title: The Catcher in the Rye
Author: J.D. Salinger
Genre: Fiction

Title: The Lord of the Rings
Author: J.R.R. Tolkien
Genre: Fantasy

Please enter a genre to see related books: Fiction
To Kill a Mockingbird
The Catcher in the Rye